@media only screen and (max-width:700px) {

h1{
    font-size: 35px;
}

.brand img{
    position: absolute;
    top: 20px;
    left: 20px;
    width: 50px;
}

.toggle-btn {
    display: block;
} 

.navbar {
    height: 100vh;
    background-color: #f9f9f9;
    flex-direction: column;
    display: none;
}

.active-navbar-mobile{
    display: flex;
}

.navbar .nav-list ul {
    flex-direction: column;
    align-items: center;
}

.navbar .nav-list ul li {
    margin: 17px 0px;
}

.header{
    height: 100%;
    margin-top: 120px;
}

.header .row{
    flex-direction: column;
}

.header .row .col-1{
    padding: 20px;
}

.header .row .col-2{
    max-width: 150%;
}

.header .row .col-2 .hero-img img{
    max-width: 100%;
}

/** Porfolio **/
.porfolio .grid-wrapper{
    grid-template-columns: repeat(auto-fit, minmax(250px, auto));
}

.porfolio .grid-wrapper img{
    width: 80%;
}

.porfolio .grid-wrapper .hover{
    width: 100%;
}

/** Testimonials **/
.testimonials .grid-wrapper .grid-box{
    margin-bottom: 23px;
}

/** Contact **/
.contact .container h3 {
    font-size: 17px;
}

.contact .container h3 i{
    font-size: 15px;
}

.contact .container .quick-links .brand{
    display: none;
}

.contact .container .quick-links {
    display: flex;
    justify-content: center;
}

.contact .container .quick-links ul li{
    margin: 8px;
}


}